
@media (min-width: 1024px) and (max-width: 1280px) {
  h1 {
    font-size: $base-size * 8;
    @include ls(80px);
  }

  h6 {
    font-size: $base-size * 5;
    @include ls(10px);
  }
  
  .artist {
    &__name {
      font-size: $base-size * 4;
      left: -42%;
      bottom: 5%;
    }

    &__slogan {
      font-size: $base-size * 2;
      right: 5%;
    }
  }
}

@media (min-width: 1024px) {
  .artist {
    &__slogan {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    font-size: $base-size * 6;
    @include ls(80px);
  }

  h6 {
    font-size: $base-size * 4;
    @include ls(10px);
    top: -25%;
  }
  
  .artist {
    &__name {
      font-size: $base-size * 4;
      left: 50%;
      transform: translate(-50%);
      color: $color-main;
      bottom: 5%;
    }

    &__slogan {
      font-size: $base-size + 10;
      right: 5%;
      left: 50%;
      transform: translate(-50%);
      bottom: -35%;

      p:nth-child(2) {
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 769px) {
  .logo {
    padding: 0;
  }

  h1 {
    font-size: $base-size * 5;
    text-align: center;
    @include ls(10px);
  }

  h6 {
    font-size: $base-size + 5;
    @include ls(10px);
    top: -8%;
  }

  .main-nav {
    @include flex(column, center, center);
    bottom: -10%;
    z-index: 1;
  }
  
  .artist {
    &__name {
      font-size: $base-size * 3;
      left: 50%;
      transform: translate(-50%);
      color: $color-main;
      bottom: 5%;
    }

    &__slogan {
      font-size: $base-size;
      left: 50%;
      transform: translate(-50%);
      bottom: -33%;
      text-align: center;
  
      p:nth-child(2) {
        margin: 20px 0 0 0px;
        font-size: $base-size + 3px;
      }
    }
  }
    
  .search-wrapper {
    h5 {
      text-align: center;
    }
  }

  .search-button__wrapper {
    margin-top: 40px;
  }

  .song {
    width: 100%;
  }

  footer {
    text-indent: 0;
  }
}
  