div[class^="songs-"] {
  margin-bottom: 120px;
}

.song {
  @include flex(column, left, center);
  width: 55%;
  display: flex;
  justify-items: center;

  &__info {
    @include flex(row, center, space-between);
    color: $color-secondary;
  }

  span:nth-child(2){
    text-transform: lowercase;
  }
}

.player {
  width: 100%;
}

.green-audio-player .slider .gap-progress .pin {
  background-color: $color-main;
}

.green-audio-player .slider .gap-progress {
  background-color: $color-main;
}