/* Variables */

$color-dark: #131313;
$color-light: #fff;
$color-main: #cf383e;
$color-secondary: #bfbfbf;

$font-main: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-black: 900;

$radius: 4px;

$base-size: 20px;

@mixin flex($flex-direction, $align-items, $justify-content) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
  
@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin ls($spacing) {
  letter-spacing: $spacing;
  text-indent: $spacing;
}