.subscribe {
    height: 1023px;
    background-image: url('../../assets/images/subscribe.jpg');
    background-position: center center;
    background-size: cover;
    //background-attachment: fixed;
    position: relative;
  }